# Global configuration
DEFAULT_DOMAIN=domain.xyz
TIMEZONE=America/New York

# Shared user/group IDs
PUID=1000
PGID=1000
PUID_GENERIC=1000
PGID_GENERIC=1000

# Shared drive paths
DATA_DRIVE=../data
MEDIA_DRIVE=../media
MISC_DRIVE=../misc

