# GLOBAL
.env
*/.env

# PORTAINER
services/portainer/.env
services/portainer/portainer_data/

# POSTGRES
/postgresql/backup/
/postgresql/,env
/postgresql/db
/postgresql/pgadmin-data/

# TRAEFIK
/traefik/.env
/traefik/data/traefik.yml
/traefik/data/config.yml
/traefik/data/acme.json

# KEYCLOAK
/services/keycloak/.env
/services/keycloak/keycloak_pg_data/

# WATCHTOWER
/services/watchtower/.env

# HOMEPAGE
/services/homepage/.env
/services/homepage/config/
/services/homepage/images/
