# GLOBAL
.env
*/.env

# PORTAINER
services/portainer/.env
services/portainer/portainer_data/

# POSTGRES
/postgresql/backup/
/postgresql/,env
/postgresql/db
/postgresql/pgadmin-data/

# TRAEFIK
/traefik/.env
/traefik/data/traefik.yml
/traefik/data/config.yml
/traefik/data/acme.json

# KEYCLOAK
/services/keycloak/.env
/services/keycloak/keycloak_pg_data/

# WATCHTOWER
/services/watchtower/.env

# HOMEPAGE
/services/homepage/.env
/services/homepage/config/
/services/homepage/images/

# WIREGUARD
/services/wireguard/.env
/services/wireguard/wg-easy/

# REDIS
/services/redis/.env

# FREEFILESYNC
/services/freefilesync/.env
/services/freefilesync/app/

# UPTIME-KUMA
/services/uptime-kuma/.env
/services/uptime-kuma/data/

#  N8N
/services/n8n/.env
/services/n8n/data/
/services/n8n/files/
/services/n8n/postgres-data/

# AUDIOBOOKSHELF
/services/audiobookshelf/.env
/services/audiobookshelf/config/
/services/audiobookshelf/metadata/

# NAVIDROME
/services/navidrome/.env
/services/navidrome/data/